* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

section {
  height: 100vh;
}

/* section first css */
.first {
  height: fit-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/beach1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-texts {
  text-align: center;

  h2 {
    color: rgba(240, 248, 255, 0.696);
    font-size: 2rem;
  }
  h1 {
    color: #fafafa;
    font-size: 2.5rem;
    margin: 1rem 0rem;
  }
  p {
    color: #fafafad4;
    font-size: 1.5rem;
    font-weight: 400;
    word-spacing: 1px;
    margin: 1rem 0rem;
  }
  button {
    border: none;
    background-color: transparent;
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid yellow;
    margin: 3rem 0rem;
    padding: 1rem;
    a {
      text-decoration: none;
      color: #fafafa;
    }
  }
}

/* section 2 css  */
.second {
  margin: 10px 0px;
}
.second-heading {
  display: flex;
  justify-content: center;
}

.second-texts {
  h1 {
    margin-bottom: 1rem;
  }
  p {
    color: rgba(0, 0, 0, 0.334);
    font-weight: 600;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}
/*
.f-card{
    height: 35rem ;
    min-width: 18rem;
    border: 1px solid red;
    overflow: hidden; 

   .f-card{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center top;
        clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 64%);
    }
} */

.f-card {
  width: 300px;
  height: 550px;
  overflow: hidden;

  .card-img {
    position: relative;
    width: 100%;
    height: 400px;
    .plus {
      position: relative;
      bottom: 155px;
      left: 132px;
      color: #d2ab78;
    }
  }

  .card-img img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }

  .card-text {
    padding: 15px;
    position: relative;
    top: -80px;
    background-color: #fff;
    text-align: center;
    font-size: x-small;
  }
}

/* *************************************** */

.s-card {
  width: 300px;
  height: 550px;
  overflow: hidden;

  .camera {
    background-color: #d2ab78;
    width: 65px;
    height: 65px;
    padding: 6px;
    border-radius: 33px;
    color: white;
    position: relative;
    top: -75px;
    left: 180px;
  }

  .scard-img {
    width: 100%;
    height: 180px;
    background-image: url("./images/dog.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 95%);
    background-size: cover;
    background-position: center;
  }
  #c-tittel {
    color: #fafafaba;
    padding-left: 25px;
  }
  .fa {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .c-text {
    display: flex;
    justify-content: center;
  }
  .scard-text {
    width: 100%;
    height: 550px;

    text-align: center;

    p {
      margin-bottom: 25px;
    }
    button {
      background-color: #d2ab78;
      border: none;
      margin-top: 20px;
      padding: 12px 130px;
    }
  }
}

/* ********************************** */

.t-card {
  width: 300px;
  height: 550px;
  overflow: hidden;
}
.t-card-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.3)),
    url("./images/card2.jpg");
  background-size: cover;
  background-position: center;
  i {
    color: #fafafa;
    padding: 8px;
  }

  .tcard-text {
    color: #fafafa;
    padding: 81px 25px;
    display: flex;
    .first-card {
      width: 100px;
      /* margin: 0px 40px; */
      position: relative;
      left: 89px;
    }
    p {
      margin-bottom: 25px;
    }
  }
  .botm {
    display: flex;
    color: white;
    padding: 18px;
  }
  .card-setting {
    margin: 0px 50px;
  }
}

/* ********************************* */

.fo-card {
  width: 300px;
  height: 550px;
  overflow: hidden;

  .fo-img {
    width: 100%;
    height: 220px;
    background-image: url("./images/card3.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 95%);
    background-size: cover;
    background-position: center;
    #right {
      color: #d2ab78;
    }
  }

  #right {
    position: relative;
    top: -62px;
    left: 126px;
    color: #d2ab78;
  }
  .fo-card-text {
    display: flex;
    align-items: center;
    justify-content: center;

    .fo-text {
      #blur {
        color: rgba(0, 0, 0, 0.338);
      }
      hr {
        width: 300px;
        color: #b4acac1c;
      }
      p {
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
  button {
    background-color: #d2ab78;
    border: none;
    margin-top: 0px;
    padding: 12px 130px;
    margin-top: 25px;
    padding: 17px 126px;
  }
  .f-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #f-p {
      text-align: start;
      font-size: small;
      color: #d2ab78b6;
      text-transform: capitalize;
    }
    #arrow {
      font-size: larger;
      font-weight: bolder;
    }
  }
}

/* ******************************************* */

.third {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
   .left p{
    font-size: 1rem;
      
      text-align: left;
   }
  .left {
    text-align: left;
    
    h1 {
      font-size: 50px;
    }
    #btn{
      position: relative;
      bottom: 10px;
  
    }
    h1,
    button {
      margin: 22px 34px;
    }
    h1,
    p,
    button {
      margin-bottom: 40px;
      a {
        text-decoration: none;
        color: #fafafa;
      }

    }
    .left #para p{
      font-size: 0.8rem;
      font-weight: 600;
      text-align: left;
      line-height: 3;
    }
  

    button {
      background-color: black;
      color: #fafafa;
      margin-bottom: 40px;
      padding: 1px 50px;
      font-size: 18px;
      span {
        position: relative;
        bottom: 3px;
        left: 20px;

        font-size: 3rem;
        font-weight: bolder;
      }
    }
  }

  .right {
    margin: 70px 0;
    ul li {
      margin-bottom: 35px;
      font-size: 0.6rem;
      font-weight: 500;
      word-spacing: 5px;
    }
  }
}

/* ****************************************** */

.fourth {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 86px 0px;
  margin: 35px 124px ;



  .left-div {
    padding-top: 40px;
    #cb{
      font-size: .5rem;
      font-weight: 550;
    }
  }
 

  .right-div {
    text-align: justify;
    
  }

  .upper-txt {
    padding: 60px 0px;
  #paragraph{
   font-size: 1.8rem;
    text-align: justify;
  }
  }
  .lower-txt {
    padding: 70px 0px;
    font-size: 1.2rem;
    display: flex;
    gap: 40px;
    .icons i {
      padding: 0px 15px;
    }
  }
}
/* ****************************************** */

.fifth {
  width: 100%;
  height: 689px;
#imgh{
  height: 670px;
}
  .image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("./images/worldmap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  /* .lower-text{
        height: 50vh;
        background-color: #18191A;
        display: flex;;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
        color: white;

        .lf-txt{
        padding: 10px;
        text-align: justify;
        font-size: xx-large;
        span{
            color: #FFC803;
        }
        }

        .rg-txt{
            
            text-align: justify;
            font-size: large;
            padding: 10px;
        }
    } */
}

/* ********************************* */
#up-txt{
  padding: 60px 50px;
}
.sixth {
  height: auto;
  margin-bottom: 15px;
  .upper-text {
    height: 30vh;
    background-color: #18191a;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: white;

    .lf-txt {
      padding: 0px 10px;
      text-align: left;
      font-size: 2.2rem;
      span {
        color: #ffc803;
      }
    }

    .rg-txt {
      padding: 0px 10px;
      p {
        text-align: justify;
        font-size: 0.8rem;
        
      }
    }
  }

  .heading {
    text-align: center;

    h1 {
      font-weight: 600;
      font-size: 1.5rem;
      margin: 14px 0px;
    }
    #heading-para{
      line-height: 2;
      color: #00000078;
      font-size: 1.1rem;
      padding: 18px 30px;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    a {
      color: black;
      font-weight: bold;
    }

    span {
      color: #d2ab78;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .first-card,
  .m-card {
    border: 2px solid rgba(0, 0, 0, 0.119);
    width: 400px;
    height: 500px;
    text-align: center;
    padding: 40px 10px;
    line-height: 2;

    h2 {
      color: #d2ab78;
      font-weight: bold;
    }
    button {
      background: transparent;
      border: 2px solid #d2ab78;
      margin-top: 20px;
      padding: 15px;
      font-weight: 500;
      margin-top: 40px;

      a {
        text-decoration: none;
      }
    }
  }

  .m-card {
    border-top-color: #d2ab78;
    border-top-width: 2px;
  }
}

/* *********************************************** */

/* 


@media only screen and (max-width: 1200px) {
   
    .t-card,
    .fo-card {
      display: none;
      height: 50%;
    }


    .lf-txt{
        h1{
            font-size: 60%;
        }
        
    }
    .rg-txt{
        p{
            font-size: 70%;
        }
    }
  }


*/
@media screen and (min-width: 1441px){
    .first .first-texts{
        padding: 0px 60px;
    }

    .second{
        height: fit-content;
    }

    .sixth .upper-text {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }

    
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .first .first-texts{
      padding: 200px 150px;

      h2{
        font-size: 1rem;
        font-weight: 400;
      }
      h1{
        font-weight: 500;
      }
    }
    .second{
        height: fit-content;
        .second-heading .second-texts{
          h1{
            font-size: 1.8rem;
            font-weight: 700;
          }
          p{
            font-size: 1.2rem;
            line-height: 2;
          }
        }
    }

    .third{
      display: flex;
      .left h1{
        font-size: 3rem;
        font-weight: 600;
      }
      .left #para p{
        font-size: 1.2rem;
      font-weight: 600;
      text-align: left;
      line-height: 2;
      
      }
    }

    .fourth{
      
      .right-div .upper-text{
        p{
          padding: 0px 20px;
          font-size: 1.6rem;
          text-align: justify;
        }
      }
    }
    .fourth .left-div h1 {
      font-size: rem;
      font-weight: 600;
  }
  .fifth {
    .image {
        height: 650px;
    }
}
    .sixth{
        height: fit-content;
    }
   
    .sixth .upper-text {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        height: fit-content;



    }
   .sixth .upper-text .lf-txt {
    padding: 50px 10px;
    text-align: left;
    width: 38%;
    h1{
    font-size: 2.7rem;
    }

   }
   .sixth .upper-text .rg-txt{
    max-width: 0px 100px;
    padding: 0px 10px;
    text-align: justify;
    width: 50%;
    p{
      font-size: 1.5rem;
    }
   }

   .sixth .heading {
    h1 {
        font-size: 2rem;
        padding: 0px 0px;
        font-weight: 600;
    }

}
.sixth .heading {
  p {
      font-size: 1.2rem;
      padding: 0px 321px;
  }
}
  
}
/* ///////////////////////////////////// */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .first{
        .first-texts{
            padding: 140px 100px;
        }
        h2{
          font-size: 1rem;
          font-weight: 600;
        }
        h1{
          font-size: 1.8rem;
          font-weight: 600;

        }
        p{
          font-size: 1rem;
          padding: 0px 90px;
        }
        button{
          font-size: .8rem;
        }
    }
.second{
    height: fit-content;
    .second-heading .second-texts {
      text-align: center;
      h1 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    p {
      font-size: 1rem;
      line-height: 2;
  }
  }
}
.cards{
  gap: 10px;
}
    .f-card,
    .s-card,
    .t-card,
    .fo-card {
       width: 220px;
    height: 400px;
    }


    .third{
      .left {
        h1{
          font-size: 2rem;
        }
        #para p {
          font-size: 1rem;
          font-weight: 600;
          text-align: left;
          line-height: 1.5;
      }
      button{
        font-size: 14px;
        padding: 1px 35px;
        height: 60px;
        
      }
      }
      #list ul li{
        font-size: 1rem;
        line-height: 5px;
      }
    
    }

    .fourth{
      .left-div {
        #cb{
          font-size: 3.5rem;
        }
      }
      .upper-txt {
        #paragraph {
            font-size: 1rem;
            text-align: justify;
        }
    }
    .lower-txt{
      font-size: 0.8rem;
      line-height: 2;
      padding: 15px 27px
    }
    }

    .fifth{
      #imgh{
        height: 535px;
      }
    }

    .sixth .upper-text {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        height: 340px;

    }
   .sixth .upper-text .lf-txt {
    
    padding: 50px 10px;
    width: 45%;
    padding-bottom: 10px;
    #left-h1{
      font-size: 1.8rem;
    }
   

   }
   .sixth .upper-text .rg-txt{
    max-width: 0px 100px;
    padding: 0px 10px;
    text-align: justify;
    width: 50%;
    #right-p{
      font-size: 1rem;
    }
   }
   .sixth .heading {
    #six-heading{
      font-size: 1.5rem;
    }
    #heading-para{
      font-size: 0.8rem;
      

    }
  }

  .cards {
    .first-card,
    .m-card{
      height: 450px;
      width: 300px;
      h1{
        font-size: 1rem;
      }
      h2{
        font-size: 1.2rem;
      }
      p{
        font-size: 0.8rem;
      }
    }

  }

}

/* ///////////////////// */


/* //////////////////////////////////////// */
@media screen and (max-width: 768px) and (min-width: 425px) {
  .first {
    
    height: fit-content;
  }

  .first .first-texts {
    padding: 85px 100px;
    h1 {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 0.5rem;
    }
    p {
      font-size: 0.6rem;
      padding: 0px 40px;
    }
    button{
      font-size: 0.4rem;
    }
  }

  /* ************************ */
  .second {
    height: fit-content;
  }
  .second-heading {
    text-align: center;

    #first-heading {
      font-size: 1rem;
    }
    #first-para {
      font-size: 0.8rem;
    }
  }
  .second .cards {
    display: flex;
    flex-direction: row;
  }
  .s-card .c-text {
    position: relative;
    bottom: 30px;

    .scard-text {
      p {
        font-size: 1rem;
        margin: 0px;
      }
    }
  }
  .second .cards .f-card,
  .s-card{
    width: 180px;
 
    height: 350px;
    overflow: hidden;
  }
  .t-card,
  .fo-card {
    display: none;
  }

  
.s-card .camera {
  background-color: #d2ab78;
  width: 66px;
  height: 71px;
  padding: 6px;
  border-radius: 33px;
  color: white;
  position: relative;
  top: -87px;
  left: 106px;
}
.s-card .c-text {
  position: relative;
  bottom: 78px;
}
.s-card {
  & .scard-text {
      button {
          background-color: #d2ab78;
          border: none;
          margin-top: 20px;
          padding: 10px 71px;
      }
  }
}
.fo-card {
  & .fo-card-text {
      .fo-text {
          position: relative;
          bottom: 77px;
          line-height: 0.4;
          font-size: 0.5rem;
      }
  }
}




}
/* ********************************************* */
.third {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.third .left {
  p {
    font-size: 1rem;
    padding: 0px 20px;
    text-align: center;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.third .left #t-para {
  padding: 0px 35px;
  font-size: 0.8rem;
}

.third .right {
  ul li {
    line-height: 15px;
    font-size: 1.5rem;
  }
}
.third {
  
  & .left {
    #btn {
      position: relative;
      bottom: 21px;
  }
      button {
          font-size: 10px;
          padding: 1px 35px;
          height: 35px;
          span{
            font-size: 2rem;
          }
      }
  }

  
    #list ul li {
        font-size: 1rem;
        line-height: 1px;
        
    }

}
/* ************************
 */
.fourth {
  height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
padding-right: 100px;
}

.fourth .left-div #cb {
  font-size: 2.5rem;
}

.fourth .right-div {
  text-align: center;
  .upper-txt {
    padding: 34px 0px;
}
  .upper-txt #paragraph {
    font-size: 0.9rem;
    text-align: justify;
}

  .lower-txt {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;

  }
}

/* ************************ */
.fifth {
  height: fit-content;
#imgh{
  height: 450px;
}
  .image {
    height: 400px;
  }
}
/* ************************************* */
.sixth .upper-text{
  
  
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 32px 103px;

}
.sixth .upper-text .rg-txt {
  #right-p {
      font-size: 0.8rem;
      width: 267px;
     padding-top: 20px;
    
  }
}
.sixth .upper-text{
  
    padding:0;
    #up-txt{
      padding: 0px 11px;
    }
    #right-p{
      height: fit-content;
    }

}
.sixth .upper-text .lf-txt {
  #left-h1 {
    font-size: 1.2rem;
  }
 
  .sixth .upper-text .rg-txt  {
    p{
        font-size: 1.5rem;
        padding: 0px 167px;
        text-align: center;
    }
  }
}
.sixth .heading {
  h1 {
    font-size: 1rem;
    padding: 0px 0px;
    font-weight: 600;
  }
  p {
    font-size: 0.5rem;
  }
  
  
}
/* .cards {
  .first-card,
  .m-card{
    height: 320px;
    width: 220px;
    line-height: 20px;
    h1{
      font-size: 0.8rem;
      padding: 10px 0px;
    }
    h2{
      font-size: 1rem;
      padding: 10px 0px;
    }
    p{
      font-size: 0.6rem;
    }
    button {
      background: transparent;
      border: 2px solid #d2ab78;
      margin-top: 20px;
      padding: 8px;
      font-weight: 500;
      margin-top: 19px;
      font-size: 0.6rem;
  }
  } */



/* ///////////////////////////////////////////////////// */
@media  screen and (max-width: 425px) {
  .first {
    padding-top: 20px;
    height: fit-content;
  }

  .first .first-texts {
    padding: 0px 40px;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1rem;
      line-height: 2.5;
    }
    p {
      font-size: 1rem;
      line-height: 2;
    }
    button{
        font-size: 0.6rem;
        margin-bottom: 100px;
    }
  }

  /* ************************ */
  .second {
    height: fit-content;
  }
  .second-heading {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
      padding: 0 20px;
    }
  }

  .second .cards .f-card {
    width: 55%;
    height: 45%;
    overflow: hidden;
    border: 0.2px solid burlywood;
  }

  .s-card,
  .t-card,
  .fo-card {
    display: none;
  }

  /* ************************** */

  .third {
    height: fit-content;
  }

  .third .left {
    #t-para{
      font-size: 1.2rem;
      text-align: justify;
    }
    h1 {
      font-size: 2.8rem;
    }
  }

  .third .left #para {
    padding: 0px 20px;
  }
  .third .left button{
    margin: 1px 55px;
  }

  .third #list {
    ul li {
      line-height: 10px;
      text-align: justify;
      font-size: 1.5rem;
    }
  }

  /* ******************************** */
  .fourth {
    height: fit-content;
  }

  .fourth .left-div{
    margin-top: 0;
    padding: 0;
    margin-right: 88px;
  }
  .fourth .left-div #cb {
    font-size: 3.5rem;
    
  }

  .fourth .right-div {
    text-align: justify;

    .upper-txt #paragraph {
      padding-right: 35px;
      font-size: 1.2rem;
    }

    .lower-txt {
      padding: 10px 0px;
      font-size: 0.8rem;
      display: flex;
      flex-wrap: wrap;
      width: max-content;

    }
  }

  /* ******************************************** */

  .fifth {
    height: fit-content;

    #imgh{
      height: 200px;
    }
  }

  /* ************************ */
  #up-txt {
    padding: 60px 0px;
}
.sixth .upper-text .lf-txt {
    padding: 0px 20px;
    #left-h1{
        font-size: 1.8rem;
    }
}
.sixth .upper-text .rg-txt { 
  padding: 0px 0px;
    #right-p{
        font-size: 1rem;
        text-align:left ;
    }
}

.sixth .heading #six-heading{
  font-size: 1.5rem;
  margin-top: 80px;
  #clr{
    color:white;
    background-color: #d2ab78;
  }
}
  .sixth .heading {
   #heading-para {
    line-height: 2;
    color: #00000078;
    font-size: 0.8rem;
    padding: 17px 15px;
    }
    p {
      font-size: 0.8rem;
      padding: 0px 20px;
    }
  }
  /* .sixth .cards {
    .first-card,
    .m-card {
      margin: 0px 20px;
    }} */

  .sixth .cards {
    .first-card,
    .m-card {
       margin: 0px 20px;
      height: 450px;
      width: 300px;
      line-height: 1.5;

      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
        padding: 0px 5px;
        line-height: 1.5;
      }

      button {
        background: transparent;
        border: 2px solid #d2ab78;
        padding: 5px;
        font-weight: 200;
        margin-top: 20px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  /* .fourth{
        .left-div{
            h1{
                font-size: 80%;
            }
        }
    } */

  /* .sixth{
        .lf-txt{
            h1{
                font-size: 60%;
            }
            
        }
        .rg-txt{
            p{
                font-size: 70%;
            }
        }
    } */
}
