@media  screen and (max-width: 768px) {
    .first {
      padding-top: 0px;
      height: fit-content;
    }
  
    .first .first-texts {
      padding: 100px 40px;

      h1 {
        font-size: 1.8rem;
      }
      h2 {
        font-size: 0.8rem;
        line-height: 2.5;
      }
      p {
        font-size: 0.6rem;
        line-height: 2;
        padding: 0px 60px;
      }
      button{
          font-size: 0.5rem;
          /* margin-bottom: 100px; */
      }
    }
  
    /* ************************ */
    .second {
      height: fit-content;
    }
    .second-heading {
      text-align: center;
  
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1rem;
        padding: 0 20px;
      }
    }
  
    .second .cards .s-card,.t-card {
      width:30%;
      height: 500px;
    
     
    }
  
    
    .fo-card,
    .f-card
     {
      display: none;
    }
  
    /* ************************** */
  
    .third {
      height: fit-content;
    }
  
    .third .left {
      #t-para{
        font-size: 1.5rem;
        text-align: left;
      }
      h1 {
        font-size: 2.5rem;
        text-align: left;
        padding-left: 18px;
      }
    }
  
    .third .left #para {
      padding: 0px 48px;
    }
    .third .left button{
      margin: 1px 55px;
    }
  
    .third #list {
      padding-right: 10px;

      ul li {
        line-height: 10px;
        text-align: left;
        font-size: 1.5rem;
      }
    }
  
    /* ******************************** */
    .fourth {
      height: fit-content;
      
    margin-left: 10px;
    margin-top: 0px;

    }
  
    .fourth .left-div{
      margin-top: 0;
      padding: 0;
      /* margin-right: 88px; */
    }
    .fourth .left-div #cb {
      font-size: 3.5rem;
      padding-right:0px;
      padding-top: 20px;
      
    }
  
    .fourth .right-div {
      text-align: justify;
      padding-right: 20px;
        padding-left: 50px;
    }

      #hrr{
        /* display:none ; */
      }
  
      .upper-txt #paragraph {
        padding-right: 25px;
        font-size: 1rem;
      }
  
      .lower-txt {
        padding: 10px 0px;
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        /* width: max-content; */
  
      }
   
  
    /* ******************************************** */
  
    .fifth {
      height: fit-content;
  
      #imgh{
        height: 200px;
      }
    }
  
    /* ************************ */
    #up-txt {
      padding: 60px 20px;
      height: fit-content;
  }
  .sixth .upper-text .lf-txt {
      padding: 0px 20px;
      #left-h1{
        font-size: 2.5rem;
        padding: 1px 10px;
        text-align: left;
      }
  }
  .sixth .upper-text .rg-txt { 
    padding: 0px 0px;
      #right-p{
          font-size: 1.6rem;
          text-align:left ;
          padding: 10px 25px;
      }
  }
  
  .sixth .heading #six-heading{
    font-size: 1.5rem;
    margin-top: 80px;
    #clr{
      color:white;
      background-color: #d2ab78;
    }
  }
    .sixth .heading {
     #heading-para {
      line-height: 2;
      color: #00000078;
      font-size: 0.8rem;
      padding: 17px 50px;
      }
      p {
        font-size: 0.8rem;
        padding: 0px 20px;
      }
    }
    /* .sixth .cards {
      .first-card,
      .m-card {
        margin: 0px 20px;
      }} */
  
    .sixth .cards {
      #hgt-card{
        height: fit-content;
        span {
          color: #d2ab78;
          font-weight: bold;
          font-size: 20px;
        }
      }
      .first-card,
      .m-card {
         margin: 0px 20px;
        height: fit-content;
        width: 300px;
        line-height: 2;
  
        h1 {
          font-size: 1rem;
        }
        #cheadind{
          font-size: 1rem;
        }
        h2 {
          font-size: 1.2rem;
        }
        #price{
          font-size:0.8rem;
        }
        p {
          font-size: 0.5rem;
          padding: 0px px;
          
        }
        #card-p{
          font-size: 0.9rem;
        }
  
        button {
          background: transparent;
          border: 2px solid #d2ab78;
          padding: 4px;
          font-weight: 200;
          margin-top: 5px;
          
  
          a {
            text-decoration: none;
          }
        }
      }
    }
  
   
  }

  