* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

section {
  height: 100vh;
}

/* section first css */
.first {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/beach1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-texts {
  text-align: center;

  h2 {
    color: rgba(240, 248, 255, 0.696);
    font-size: 2rem;
  }
  h1 {
    color: #fafafa;
    font-size: 2.5rem;
    margin: 1rem 0rem;
  }
  p {
    color: #fafafad4;
    font-size: 1.5rem;
    font-weight: 400;
    word-spacing: 1px;
    margin: 1rem 0rem;
  }
  button {
    border: none;
    background-color: transparent;
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid yellow;
    margin: 3rem 0rem;
    padding: 1rem;
    a {
      text-decoration: none;
      color: #fafafa;
    }
  }
}

/* section 2 css  */
.second {
  margin: 10px 0px;
}
.second-heading {
  display: flex;
  justify-content: center;
}

.second-texts {
  h1 {
    margin-bottom: 1rem;
  }
  p {
    color: rgba(0, 0, 0, 0.334);
    font-weight: 600;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}
/*
.f-card{
    height: 35rem ;
    min-width: 18rem;
    border: 1px solid red;
    overflow: hidden; 

   .f-card{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center top;
        clip-path: polygon(0 0, 100% 0%, 100% 46%, 0 64%);
    }
} */

.f-card {
  width: 300px;
  height: 550px;
  overflow: hidden;

  .card-img {
    position: relative;
    width: 100%;
    height: 400px;
    .plus {
      position: relative;
      bottom: 155px;
      left: 132px;
      color: #d2ab78;
    }
  }

  .card-img img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }

  .card-text {
    padding: 15px;
    position: relative;
    top: -80px;
    background-color: #fff;
    text-align: center;
    font-size: x-small;
  }
}

/* *************************************** */

.s-card {
  width: 300px;
  height: 550px;
  overflow: hidden;

  .camera {
    background-color: #d2ab78;
    width: 65px;
    height: 65px;
    padding: 6px;
    border-radius: 33px;
    color: white;
    position: relative;
    top: -75px;
    left: 180px;
  }

  .scard-img {
    width: 100%;
    height: 180px;
    background-image: url("./images/dog.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 95%);
    background-size: cover;
    background-position: center;
  }
  #c-tittel {
    color: #fafafaba;
    padding-left: 25px;
  }
  .fa {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }

  .c-text {
    display: flex;
    justify-content: center;
  }
  .scard-text {
    width: 100%;
    height: 550px;

    text-align: center;

    p {
      margin-bottom: 25px;
    }
    button {
      background-color: #d2ab78;
      border: none;
      margin-top: 20px;
      padding: 12px 130px;
    }
  }
}

/* ********************************** */

.t-card {
  width: 300px;
  height: 550px;
  overflow: hidden;
}
.t-card-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.3)),
    url("./images/card2.jpg");
  background-size: cover;
  background-position: center;
  i {
    color: #fafafa;
    padding: 8px;
  }

  .tcard-text {
    color: #fafafa;
    padding: 81px 25px;
    display: flex;
    .first-card {
      width: 100px;
      /* margin: 0px 40px; */
      position: relative;
      left: 89px;
    }
    p {
      margin-bottom: 25px;
    }
  }
  .botm {
    display: flex;
    color: white;
    padding: 18px;
  }
  .card-setting {
    margin: 0px 50px;
  }
}

/* ********************************* */

.fo-card {
  width: 300px;
  height: 550px;
  overflow: hidden;

  .fo-img {
    width: 100%;
    height: 220px;
    background-image: url("./images/card3.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 95%);
    background-size: cover;
    background-position: center;
    #right {
      color: #d2ab78;
    }
  }

  #right {
    position: relative;
    top: -62px;
    left: 126px;
    color: #d2ab78;
  }
  .fo-card-text {
    display: flex;
    align-items: center;
    justify-content: center;

    .fo-text {
      #blur {
        color: rgba(0, 0, 0, 0.338);
      }
      hr {
        width: 300px;
        color: #b4acac1c;
      }
      p {
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
  button {
    background-color: #d2ab78;
    border: none;
    margin-top: 0px;
    padding: 12px 130px;
    margin-top: 25px;
    padding: 17px 126px;
  }
  .f-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #f-p {
      text-align: start;
      font-size: small;
      color: #d2ab78b6;
      text-transform: capitalize;
    }
    #arrow {
      font-size: larger;
      font-weight: bolder;
    }
  }
}

/* ******************************************* */

.third {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;

  .left {
    text-align: center;
    padding: 27px 16px;

    h1 {
      font-size: 50px;
    }
    h1,
    p,
    button {
      margin-bottom: 40px;
      a {
        text-decoration: none;
        color: #fafafa;
      }
    }
    p {
      text-align: justify;
    }

    button {
      background-color: black;
      color: #fafafa;
      margin-bottom: 40px;
      padding: 12px 35px;
      font-size: 18px;
      span {
        position: relative;
        top: -5px;
        right: -6px;
        font-weight: bolder;
      }
    }
  }

  .right {
    ul li {
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: normal;
      word-spacing: 6px;
    }
  }
}

/* ****************************************** */

.fourth {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .left-div {
    padding-top: 60px;
    font-size: xxx-large;
  }

  .right-div {
    text-align: left;
  }

  .upper-txt {
    padding: 60px 0px;
    font-size: x-large;
  }
  .lower-txt {
    padding: 70px 0px;
    display: flex;
    gap: 40px;
    .icons i {
      padding: 0px 15px;
    }
  }
}
/* ****************************************** */

.fifth {
  width: 100%;

  .image {
    height: 120vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("./images/worldmap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .lower-text{
        height: 50vh;
        background-color: #18191A;
        display: flex;;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
        color: white;

        .lf-txt{
        padding: 10px;
        text-align: justify;
        font-size: xx-large;
        span{
            color: #FFC803;
        }
        }

        .rg-txt{
            
            text-align: justify;
            font-size: large;
            padding: 10px;
        }
    } */
}

/* ********************************* */

.sixth {
  height: auto;
  margin-bottom: 15px;
  .upper-text {
    height: 50vh;
    background-color: #18191a;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
    flex-wrap: wrap;
    color: white;

    .lf-txt {
      padding: 0px 10px;
      text-align: center;
      font-size: 2.2rem;
      span {
        color: #ffc803;
      }
    }

    .rg-txt {
      padding: 0px 10px;
      p {
        text-align: justify;
        font-size: 0.8rem;
      }
    }
  }

  .heading {
    text-align: center;

    h1 {
      font-weight: 600;
      font-size: 1.5rem;
      margin: 14px 0px;
    }
    p {
      line-height: 2;
      line-height: 2;
      color: #00000078;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    a {
      color: black;
      font-weight: bold;
    }

    span {
      color: #d2ab78;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .first-card,
  .m-card {
    border: 2px solid rgba(0, 0, 0, 0.119);
    width: 400px;
    height: 600px;
    text-align: center;
    padding: 10px;
    line-height: 3;

    h2 {
      color: #d2ab78;
      font-weight: bold;
    }
    button {
      background: transparent;
      border: 2px solid #d2ab78;
      padding: 15px;
      font-weight: 500;
      margin-top: 10px;

      a {
        text-decoration: none;
      }
    }
  }

  .m-card {
    border-top-color: #d2ab78;
    border-top-width: 2px;
  }
}

/* *********************************************** */

/* 


@media only screen and (max-width: 1200px) {
   
    .t-card,
    .fo-card {
      display: none;
      height: 50%;
    }


    .lf-txt{
        h1{
            font-size: 60%;
        }
        
    }
    .rg-txt{
        p{
            font-size: 70%;
        }
    }
  }


*/
@media screen and (min-width: 1441px){
    .first .first-texts{
        padding: 0px 60px;
    }

    .second{
        height: fit-content;
    }

    .sixth .upper-text {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .first .first-texts{
        padding: 0px 60px;
    }
    .second{
        height: fit-content;
    }

    .sixth{
        height: fit-content;
    }
    .sixth .upper-text {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;

    }
   .sixth .upper-text .lf-txt {
    padding: 50px 10px;
    width: 38%;

   }
   .sixth .upper-text .rg-txt{
    max-width: 0px 100px;
    padding: 0px 10px;
    text-align: justify;
   }
  
}
/* ///////////////////////////////////// */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .first{
        .first-texts{
            padding: 0px 50px;
        }
    }
.second{
    height: fit-content;
}
    .t-card,
    .fo-card {
      display: none;
    }

    .sixth .upper-text {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;

    }
   .sixth .upper-text .lf-txt {
    padding: 50px 10px;
    width: 45%;
    padding-bottom: 10px;

   }
   .sixth .upper-text .rg-txt{
    max-width: 0px 100px;
    padding: 0px 10px;
    text-align: justify;
    width: 30%;
   }

}

/* ///////////////////// */


/* //////////////////////////////////////// */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .first {
    padding-top: 20px;
    height: fit-content;
  }

  .first .first-texts {
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
      padding: 0px 40px;
    }
  }

  /* ************************ */
  .second {
    height: fit-content;
  }
  .second-heading {
    text-align: center;

    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .second .cards {
    display: flex;
    flex-direction: row;
  }
  .s-card .c-text {
    position: relative;
    bottom: 30px;

    .scard-text {
      p {
        font-size: 1rem;
        margin: 0px;
      }
    }
  }
  .second .cards .f-card,
  .s-card {
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 1px 1px 5px;
  }

  .t-card,
  .fo-card {
    display: none;
  }
}
/* ********************************************* */
.third {
  height: fit-content;
}

.third .left {
  p {
    font-size: 1rem;
    padding: 0px 20px;
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
  }
}

.third .left #para {
  padding: 0px 20px;
}

.third .right {
  ul li {
    line-height: 15px;
    font-size: 1.5rem;
  }
}
/* ************************
 */
.fourth {
  height: fit-content;
}

.fourth .left-div h1 {
  font-size: 2.5rem;
}

.fourth .right-div {
  text-align: center;

  .upper-txt p {
    padding: 0px 40px;
    font-size: 1.2rem;
  }

  .lower-txt {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ************************ */
.fifth {
  height: fit-content;

  .image {
    height: 400px;
  }
}
/* ************************************* */
.sixth .upper-text{
    padding:0px 50px;
}
.sixth .upper-text .lf-txt {
  h1 {
    font-size: 2.1rem;
  }
 
  .sixth .upper-text .rg-txt  {
    p{
        font-size: 1.5rem;
        padding: 0px 167px;
        text-align: center;
    }
  }
}
.sixth .heading {
  h1 {
    font-size: 2rem;
    padding: 0px 0px;
  }
  p {
    font-size: 1rem;
    padding: 0px 20px;
  }
}

/* ///////////////////////////////////////////////////// */
@media only screen and (max-width: 480px) {
  .first {
    padding-top: 20px;
    height: fit-content;
  }

  .first .first-texts {
    padding: 0px 40px;
    h1 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
    button{
        font-size: 0.6rem;
    }
  }

  /* ************************ */
  .second {
    height: fit-content;
  }
  .second-heading {
    text-align: center;

    h1 {
      font-size: 1.4rem;
    }
    p {
      font-size: 0.8rem;
    }
  }

  .second .cards .f-card {
    width: 55%;
    height: 45%;
    overflow: hidden;
    border: 0.2px solid burlywood;
  }

  .s-card,
  .t-card,
  .fo-card {
    display: none;
  }

  /* ************************** */

  .third {
    height: fit-content;
  }

  .third .left {
    p {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 2rem;
    }
  }

  .third .left #para {
    padding: 0px 20px;
  }

  .third .right {
    ul li {
      line-height: 10px;
      font-size: 1.2rem;
    }
  }

  /* ******************************** */
  .fourth {
    height: fit-content;
  }

  .fourth .left-div h1 {
    font-size: 2rem;
  }

  .fourth .right-div {
    text-align: center;

    .upper-txt p {
      padding: 0px 20px;
      font-size: 1.2rem;
    }

    .lower-txt {
      padding: 10px 10px;
      font-size: 0.8rem;
    }
  }

  /* ******************************************** */

  .fifth {
    height: fit-content;

    .image {
      height: 300px;
    }
  }

  /* ************************ */
.sixth .upper-text .lf-txt {
    padding: 0px 20px;
    h1{
        font-size: 1.2rem;
    }
}
.sixth .upper-text .rg-txt { padding: 0px 20px;
    p{
        font-size: 0.7rem;
    }
}
  .sixth .heading {
    h1 {
      font-size: 0.8rem;
    }
    p {
      font-size: 0.8rem;
      padding: 0px 20px;
    }
  }

  .sixth .cards {
    .first-card,
    .m-card {
      height: 350px;
      width: 200px;
      line-height: 1.5;

      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem;
        padding: 0px 5px;
      }

      button {
        background: transparent;
        border: 2px solid #d2ab78;
        padding: 5px;
        font-weight: 200;
        margin-top: 10px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  /* .fourth{
        .left-div{
            h1{
                font-size: 80%;
            }
        }
    } */

  /* .sixth{
        .lf-txt{
            h1{
                font-size: 60%;
            }
            
        }
        .rg-txt{
            p{
                font-size: 70%;
            }
        }
    } */
}
