@media screen and (min-width: 769px) {
    .first {
      
      height: fit-content;
    }
  
    .first .first-texts {
      padding: 120px 100px;
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 0.5rem;
      }
      p {
        font-size: 1rem;
        padding: 20px 40px;
      }
      button{
        font-size: 0.5rem;
      }
    }
  
    /* ************************ */
    .second {
      height: fit-content;
    }
    .second-heading {
      text-align: center;
  
      #first-heading {
        font-size: 1.2rem;
      }
      #first-para {
        font-size: 0.9rem;
      }
    }
    .second .cards {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    .s-card .c-text {
      position: relative;
      bottom: 30px;
  
      .scard-text {
        p {
          font-size: 1rem;
          margin: 0px;
        }
      }
    }
    .second .cards .f-card,
    .s-card,.t-card,
    .fo-card{
      width: 20%;
   
      height: 400px;
      overflow: hidden;
    }
    /* .t-card,
    .fo-card {
      /* display: none; */
    */
  
    
  .s-card .camera {
    background-color: #d2ab78;
    width: 66px;
    height: 71px;
    padding: 6px;
    border-radius: 33px;
    color: white;
    position: relative;
    top: -87px;
    left: 106px;
  }
  .s-card .c-text {
    position: relative;
    bottom: 20px;
  }
  .s-card {
    & .scard-text {
        button {
            background-color: #d2ab78;
            border: none;
            margin-top: 20px;
            padding: 10px 71px;
        }
    }
  }
  .fo-card {
    & .fo-card-text {
        .fo-text {
            position: relative;
            bottom: 77px;
            line-height: 0.4;
            font-size: 0.5rem;
        }
    }
  }
  
  
  
  
  
  /* ********************************************* */
  .third {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
  }
  
  .third .left {
    p {
      font-size: 5rem;
      padding: 0px 0px;
      text-align: center;
    }
    h1 {
      font-size: 4rem;
      font-weight: 600;
    }
  }
  
  .third .left #t-para {
    padding: 0px 36px;
    text-align: justify;
    font-size: 1.3rem;
}
  
  /* .third .right {
    ul li {
      line-height: 15px;
      font-size: 1rem;
    }
  } */
  .third {
    
    & .left {
      #btn {
        position: relative;
        bottom: 21px;
    }
        button {
         
            font-size: 15px;
            padding: 20px 40px;
            height: 57px;
     
            span{
              font-size: 2rem;
            }
        }
    }
  
    
    #list ul li {
      font-size: 1.5rem;
      line-height: 19px;
      font-weight: 500;
  }
  
  }
  /* ************************
   */
  .fourth {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    margin-top: 10%;
    gap: 10%;
  .left-div {
    flex: 0 0 40%; 
    padding-left: 100px;
  }
  .right-div {
    flex: 1; /* Allow right-div to grow and fill remaining space */
  }
  }
  
  
  .fourth .left-div #cb {
    font-size: 4rem;
  }
  
  .fourth .right-div {
    text-align: center;
    padding-right: 24px;
    .upper-txt {
      padding: 34px 0px;
  }
    .upper-txt #paragraph {
      font-size: 1.2rem;
      text-align: justify;
  }
  
    .lower-txt {
      padding: 40px 0px;
      display: flex;
     
      align-items: center;
      font-size: 1rem;
  
    }
  }
  
  /* ************************ */
  .fifth {
    height: fit-content;
  #imgh{
    height: 450px;
  }
    .image {
      height: 400px;
    }
  }
  /* ************************************* */
  .sixth .upper-text{
    
    
      display: flex !important;
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;
      height: fit-content;
      padding: 32px 103px;
  
  }
  .sixth .upper-text .rg-txt {
    padding-right: 20px;
    #right-p {
        font-size: 1.2rem;
        width: 400px;
       padding-top: 20px;
       padding-right: 30px;
       padding-left: 30px;
      
    }
  }
  .sixth .upper-text{
    
      padding:0;
      #up-txt{
        padding: 0px 11px;
      }
      #right-p{
        height: fit-content;
      }
  
  }
  .sixth .upper-text .lf-txt {
  width: 500px;
    #left-h1 {
      font-size: 1.8rem;
    }
   
    .sixth .upper-text .rg-txt  {
   

      p{
          font-size: 1.5rem;
          padding: 0px 167px;
          text-align: center;
      }
    }
  }
  .sixth .heading {
    h1 {
      font-size: 1rem;
      padding: 0px 0px;
      font-weight: 600;
    }
    p {
      font-size: 0.5rem;
    }
    
    
  }
   .cards {
    .first-card,
    .m-card{
      height: fit-content;
      width: 250px;
      gap: 0;
      /* line-height: 10px; */
      h1{
        font-size: 0.8rem;
        padding: 10px 0px;
      }
      h2{
        font-size: 1rem;
        padding: 10px 0px;
      }
      p{
        font-size: 0.6rem;
      }
      button {
        background: transparent;
        border: 2px solid #d2ab78;
        margin-top: 20px;
        padding: 8px;
        font-weight: 500;
        margin-top: 19px;
        font-size: 0.6rem;
    }
    } 
  }

} 